<section class="flex flex-col md:flex-row justify-center items-center gap-x-16 md:gap-x-8 xl:gap-x-6 overflow-hidden 3xs:h-auto 3xs:py-10 xs:h-auto xs:py-10
h-[94vh] sm:h-auto bg-black sm:py-16 xl:py-12">

    <article class="flex flex-col gap-y-5 sm:gap-y-5 xl:gap-y-3 mb-5 w-[95%] lg:w-[46%] sm:w-[92%] md:w-[45%] xl:w-[38%]">
        <h2 class="text-center tracking-wide md:text-left 3xs:text-2xl 2xs:text-3xl text-3xl md:text-5xl text-white font-bold md:font-extrabold md:leading-snug">Watch everywhere</h2>
        <p class="text-white leading-6 text-center 3xs:text-base 2xs:text-lg text-lg md:text-left md:text-2xl text-pretty">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
    </article>

    <article class="w-[88%] md:w-[45%] lg:w-[46%] xl:w-[38%] relative overflow-hidden sm:mt-8">
        <img src="./device-pile.png" loading="lazy" alt="tv" class="relative z-40 overflow-hidden">
        <video src="./watch.m4v" autoplay loop class="absolute w-[62%] md:w-[62%] top-[12%] left-[18%] sm:left-[18%] md:left-[19%] md:top-[10%] lg:left-[18%] 2xl:w-[58%] 2xl:left-[18%] z-10"></video>
    </article>

</section>