<section class="flex flex-col md:flex-row justify-center items-center 3xs:h-auto xs:h-auto
 h-[95vh] sm:h-[100vh] md:h-auto xs:py-14 py-14 md:py-14 lg:py-16 xl:py-[4.5rem] xl:gap-x-2 bg-black overflow-hidden">

    <article class="flex flex-col gap-y-4 sm:gap-y-5 md:gap-y-6 mb-2 sm:mb-3 md:mb-0 w-[90%] md:w-[46%] lg:w-[46%] xl:w-[38%]">

        <h2 class="text-center tracking-wide md:text-left 3xs:text-2xl 2xs:text-3xl text-3xl md:text-5xl text-white font-bold md:font-extrabold">Disfruta en tu TV</h2>
        <p class="text-white leading-6 text-center 3xs:text-base 2xs:text-lg text-lg md:text-left md:text-2xl text-pretty">Ve en smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.

        </p>
    </article>

    <article class="xs:w-[80%] w-[88%] md:w-[46%] lg:w-[48%] xl:w-[38%] relative overflow-hidden">
        <img src="../tv.png" alt="tv" loading="lazy" class="relative z-20 overflow-hidden">
        <video src="../enjoy.m4v" autoplay loop class="absolute w-[80%] 3xs:left-[13%] 3xs:top-[19%] xs:top-[20%] xs:left-[13%] sm:left-[13%] sm:top-[19%] md:left-[13%] md:top-[20%] 2xl:w-[70%] 2xl:left-[12%] z-10"> </video>
    </article>

</section>
