<section class="flex flex-col items-center gap-y-4 w-full overflow-hidden">

    <p class=" xs:text-sm text-lg 3xs:w-[78%] xs:w-[80%] w-[98%] text-center sm:text-lg md:text-xl text-white font-weight[200]">¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.</p>

    <form action="" class="flex flex-col sm:flex-row justify-center items-center gap-x-2 gap-y-4">
    
        <div class="relative">
            <input type="email" id="floating_filled" class="block rounded-[4px] px-3 pb-2.5 py-5 xs:py-4 3xs:w-64 xs:w-72 sm:py-4 w-[29rem] sm:w-80 md:w-[23rem] text-sm text-white bg-[#111212d7] border border-[#565656] appearance-none focus:border-white focus:outline-none focus:ring-0 peer" placeholder="" />
            <label for="floating_filled" class="absolute text-md text-[#bebebe] dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 xs:top-3.5 top-3 sm:top-3.5 z-10 origin-[0] start-4 peer-focus:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <a class="inline-flex justify-center items-center text-white text-lg sm:text-2xl bg-[#e50914] rounded-[4px] py-[10px] sm:py-2.5 px-[18px] md:py-3  md:px-7 hover:bg-[#c11119] transition duration-300 font-medium cursor-pointer" type="submit">Comenzar<i class="fa-solid fa-chevron-right text-[18px] pl-4"></i></a>
    </form>

</section>
