---
import LanguagePicker from "@components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex justify-center items-center 3xs:gap-1 xs:gap-2 gap-x-2 md:gap-x-3 lg:gap-x-6">

    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" 
        class="inline-flex items-center justify-center text-white overflow-hidden bg-[#111111bf] border border-[#5e5e5e] cursor-default focus:ring-2 focus:outline-1 focus:ring-white font-normal rounded-[4px] text-base px-3.5
        3xs:px-1.5 3xs:py-1.5
        2xs:py-1.5
        xs:py-1.5 xs:px-1.5 sm:py-1.5 sm:px-2 md:px-3 md:py-1 lg:px-4.5 lg:py-1 text-center" type="button">

        <img src="../language-icon.svg" alt="language-icon" class="3xs:size-4 xs:size-4 size-5 sm:size-6 pr-1 sm:pr-2">
    
        <p class="hidden sm:block font-semibold">{ t('nav.language') }</p>

        <i class="fa-solid fa-sort-down pl-2 sm:pl-4 pb-[2px] text-[10px]"></i>

    </button>
    
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-gray-100 rounded-lg shadow xs:w-20 w-24 sm:w-32 cursor-default overflow-hidden">

        <LanguagePicker/>

    </div>


    <!-- Sign In -->

    <a href="#"
    class="text-white bg-[#e50914] hover:bg-[#c11119] transition-all duration-200 rounded-[4px] 3xs:font-semibold 3xs:py-1.5 3xs:px-2 3xs:text-xs
    2xs:text-xs
    sm:px-2.5 sm:py-1 sm:text-sm sm:pb-2 sm:tracking-tight
    md:px-2 md:py-1 md:pb-1.5
    lg:px-4 lg:py-1.5 lg:pb-1.5">{ t('nav.login') }</a>
    
</section>




<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>


