---
interface Props {
	title: string;
}

const { title } = Astro.props;

const {currentLocale} = Astro
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="./favicon-nx.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
	</head>

	<body>

		<slot />
		<script src="https://kit.fontawesome.com/70c8b821c7.js" crossorigin="anonymous"></script>
		

		
	</body>
	
</html>

